
<ba-card title="Area Builder">
  <div class="google-maps"></div>
</ba-card>

<div class="widget">
  <div class="row">
    <div class="col-md-6">
      <ba-card title="Create Area" baCardClass="with-scroll">
        <inline-form></inline-form>
      </ba-card>
    </div>
  <!-- </div>
  <div class="row"> -->
    <div class="col-md-6">
      <ba-card title="Picture Uploader" baCardClass="with-scroll">
        <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
      </ba-card>
    </div>
  </div>
</div>
